{
    "name": "{{ vial_name }}",
    "vendorId": "{{ vial_vid }}",
    "productId": "{{ vial_pid }}",
    "matrix": {
        "rows": {{ matrix_rows * 2 }},
        "cols": {{ matrix_cols }}
    },
    "layouts": {
        "keymap": [
            [
{% for key in vial_keys %}
                {"matrix": [{{ key.matrix_row }}, {{ key.matrix_col }}], "x": {{ key.x }}, "y": {{ key.y }}}{% if not loop.last %},{% endif %}

{% endfor %}
            ]
        ]
    }
}
